.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 3.7rem 3.6rem;
}

.title {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: $fw-600;
}

.subheading {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  line-height: 1.8;
  color: #fff;
  opacity: 0.7;
}

.btn {
  color: rgba(0, 0, 0, 0.637);
  background-color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}

.ta {
  &__center {
    text-align: center;
  }
}
